<button id="command-invalid-binding-target" data-bind="command: $data">Click me</button>

<button id="command-button" data-bind="command: { command: cmd, parameter: 'foo' }">Click me</button>
<a id="command-link" href="#" data-bind="command: { command: cmd, parameter: 'foo' }">Click me</a>

<button id="command-button-options" data-bind="command: cmd">Click me</button>
<a id="command-link-options" href="#" data-bind="command: cmd">Click me</a>

<button id="command-button-observable" data-bind="command: { command: cmd, parameter: param }">Click me</button>
